<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

<h1>Planets Data!</h1>
<table class="table table-striped">
  <thead class="thead-dark">
    <th>Name</th>
    <th>Rotation period</th>
    <th>Orbital Period</th>
    <th>Diamter</th>
    <th>Climate</th>
  </thead>
  <tbody>
    <tr *ngFor="let planet of planets">
      <td>{{ planet.name }}</td>
      <td>{{ planet.rotation_period }}</td>
      <td>{{ planet.orbital_period }}</td>
      <td>{{ planet.diameter }}</td>
      <td>{{ planet.climate }}</td>
    </tr>
  </tbody>
</table>