Pikc a category!
<select>
    <option value="people">People</option>
    <option value="planets">Planets</option>
    <option value="films">Films</option>
    <option value="species">Species</option>
    <option value="vehicles">Vehicles</option>
    <option value="starships">Starships</option>
  </select>

Pick an ID!
  <select>
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="5">5</option>
  </select>
<br>
  <button type="button" class="btn btn-dark">GO</button>
<app-planetstable></app-planetstable>